<a href="https://colab.research.google.com/github/duy187it20710/laptrinhpythonnangcao/blob/main/Lab5/Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CÂU 1:

In [ ]:
class Country:
  def __init__(self, name: str, population: int, area:float):
    self.name = name
    self.population = population
    self.area = area
  def is_larger(self, other):
    if (self.area > other.area):
      return True
    else:
      return False
  def population_destiny(self):
    return self.population/self.area
  def __str__ (self):
    return ('{} has a population of {} and is {} sqare km'.format(self.name, self.population, self.area))
  def __repr__(self):
    return ("Country('{0}', {1}, {2})".format(self.name, self.population, self.area))
usa = Country('United States of America', 313914040, 9826675)
canada = Country("Cananda", 34482779, 9984670)
mexico = Country('Mexico', 112336538, 1943950)

In [ ]:
print(canada.name)
print(canada.population)
print(canada.area)

Cananda
34482779
9984670

In [ ]:
print(canada.is_larger(usa))
print(usa.is_larger(canada))

True
False

In [ ]:
print(canada.population_destiny())

3.4535722262227995

In [ ]:
usa = Country('United States of America', 313914040, 9826675)
print(usa)

United States of America has a population of 313914040 and is 9826675 sqare km

In [ ]:
canada = Country('Canada', 34482779, 9984670)
print(canada)
print([canada])

Canada has a population of 34482779 and is 9984670 sqare km
[Country('Canada', 34482779, 9984670)]

CÂU 2:

In [ ]:
class Continent(Country):
    def __init__(self,name, countries):
      self.name = name
      self.countries = countries
    def total_population(self):
      total = 0
      for country in north_america.countries:
        total += country.population
      return total
    def america(self):
      num = 0
      for country in north_america.countries:
        num += 1
        print(country)
      return ''
mexico = Country('Mexico', 112336538, 1943950)
countries = [canada, usa, mexico]
north_america = Continent('North America', countries)
print(mexico)
print(north_america.name)
print('-----------------')
print(north_america.total_population())
print('-----------------')
print(north_america.america())

Mexico has a population of 112336538 and is 1943950 sqare km
North America
-----------------
460733357
-----------------
Canada has a population of 34482779 and is 9984670 sqare km
United States of America has a population of 313914040 and is 9826675 sqare km
Mexico has a population of 112336538 and is 1943950 sqare km

CÂU 3:

In [ ]:
class Student:
  def __init__(self, name:str, number: str, course:str, mail:str):
    self.name = name
    self.number = number
    self.course = course
    self.mail = mail
  def __str__(self):
    return ('{}\n{}\n{}\n{} '.format(self.name, self.number, self.course, self.mail))
student1 = Student('ngocduy', '187it20710', '2K', 'Tnnd280720001@gmail.com' )
print(student1)

ngocduy
187it20710
2K
Tnnd280720001@gmail.com

In [ ]:
student1.courses_taken = ["Python","OOP"]
print(student1)

ngocduy
187it20710
2K
Tnnd280720001@gmail.com

In [ ]:
student1.courses_taking = ["Advanced python programming"]
print(student1)

ngocduy
187it20710
2K
Tnnd280720001@gmail.com

CÂU 4

In [5]:
class Nematode:
    def __init__(self,name: str,height: float, sex: str,age: int) -> None:
        self.name = name
        self.height = height
        self.sex = sex
        self.age = age
    def __str__(self):
        return "C. elegans: \nName : {} \nHeight : {}\nGender : {}\nAge :{}".format(self.name,self.height,self.sex,self.age)
    def __repr__(self):
        return "{0}({1},{2},{3},{4})".format(self.__class__.__name__,self.name,self.height,self.sex,self.age)
Robin = Nematode('Robin',1.12,'Male',12)
print(Robin)

C. elegans:
Name : Robin
Height : 1.12
Gender : Male
Age :12

CÂU 5

In [6]:
import math

class Point:

    def __init__(self,parameter1,parameters2):
        self.parameter1 = parameter1
        self.parameter2 = parameter2
class LineSegment:
    def __init__(self,segmentStart: Point,segmentEnd: Point):
        self.segmentStart = segmentStart
        self.segmentEnd = segmentEnd
    def slope(self):
        result = (self.segmentStart.parameter1 - self.segmentEnd.parameter1) / (self.segmentStart.parameter2 - self.segmentEnd.parameter2)
        return result
    def length(self):
        distance = math.sqrt( pow((self.segmentStart.parameter1 - self.segmentEnd.parameter1),2) + pow((self.segmentStart.parameter2 - self.segmentEnd.parameter2),2 ))
        return distance